<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>

<body>
  <h1>Hello, world!</h1>
  <div class="container">
    <div class="row" style="margin-top: 40px;"></div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6"></div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Observacion</th>
            <th scope="col">Usuario</th>
            <th scope="col">Tipo cita</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="cita : ${listaCitas}">
            <td th:text="${cita.idcita}"></td>
            <td th:text="${cita.fecha}"></td>
            <td th:text="${cita.observacion}"></td>
            <td th:text="${cita.usuarioIdusuario.nombre}"></td>
            <td th:text="${cita.tipoCitaidtipoCita.nombre}"></td>
          </tr>
        </tbody>
      </table>
      <div class="col-3"></div>
    </div>
    
    <div class="row mt-5">
      <div class="col-4 ">
        <form th:action="@{/agendarCita}" th:object:="${nuevaCita}" method="post">
          <div class="mb-3">
            <input type="datetime" class="form-control" name="fecha" th:field="*{fecha}" placeholder="Fecha y hora de cita">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" name="observacion" th:field="*{observacion}"
              placeholder="Observaciones">
          </div>
          <div class="mb-3">            
            <select name="cliente"  th:field="*{clienteidCliente}" >
              <option value="">Cliente</option>
              <option th:each="cli : ${listaClientes}" th:value="${cli.idcliente}" th:text="${cli.nombre}">
              </option>
            </select>
          </div>
          <div class="mb-3">            
            <select name="estadoCita"  th:field="*{estadoCitaidestadoCita}" >
              <option value="">Estado Cita</option>
              <option th:each="estCita : ${listaEstadocita}" th:value="${estCita.idestadocita}" th:text="${estCita.nombre}">
              </option>
            </select>
          </div>
          <div class="mb-3">            
            <select name="tipoCita" th:field="*{tipoCitaidtipoCita}" >
              <option value="">Tipo Cita</option>
              <option th:each="tipoCita : ${listaTipoCita}" th:value="${tipoCita.idtipocita}" th:text="${tipoCita.nombre}">
              </option>
            </select>
          </div>
          <div class="mb-3">            
            <select name="usuario" th:field="*{usuarioIdusuario}" >
              <option value="">Usuario</option>
              <option th:each="usuario : ${listaUsuarios}" th:value="${usuario.idusuario}" th:text="${usuario.nombre}">
              </option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-4"></div>
      <div class="col-4"></div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
</body>

</html>